.App {
    text-align: center;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.square {
    height: 100px;
    width: 100px;
    background-color: red;
}